version: "3.8"

services:
  discord-bot:
    build: .
    container_name: discord-bot-zunami
    restart: unless-stopped
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      CLIENT_ID: ${CLIENT_ID}
      GUILD_ID: ${GUILD_ID}
    volumes:
      - bot_data:/app/data

volumes:
  bot_data:
