version: "3.8"

services:
  discord-bot:
    build: .
    container_name: discord-bot-zunami
    restart: unless-stopped
    env_file:
      - stack.env
    volumes:
      - bot_data:/app/data

volumes:
  bot_data:
